@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dot {
  animation: dotJump 1.2s infinite ease-in-out;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.15s;
}

.dot-3 {
  animation-delay: 0.3s;
}

@keyframes dotJump {
  0% {
    transform: translateY(0);
    opacity: 0.6;
  }
  20% {
    transform: translateY(-8px);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.6;
  }
}

/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
} */

@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loader {
  animation: loader 1.5s ease-in-out infinite;
}
